body{
  font-family: arial;
}

.todo-input-grid,
.render-todo-grid{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

.todo-input-grid{
  margin-bottom: 10px;
  align-items: stretch;
}

.name-input,
.date-inmput{
  font-size: 15px;
  padding: 5px;
}

.add-todo-button{
  border: none;
  background-color: rgb(11, 156, 11);
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.delete-todo-button{
  border: none;
  background-color: darkred;
  color: white;
  font-size: 15px;
  cursor: pointer;
  padding: 8px 0px;
}